body{
    background: url(https://image.freepik.com/vector-gratis/divertido-patron-navideno-gatos_23-2148724900.jpg);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera 
{
    background: #02DAFF;
    box-sizing: 0px 7px 20px 0px rgba(0,0,0);
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0 ,5cm;
}
#cabecera #logo {
    width: 100px;
    vertical-align: middle;
}
#cabecera  #tagline{
    padding: 0 0 0 1%;
    font-weight: bold;
    font-size: 0.8em;
}
#container{
    width: 80%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}
#container h1{
   font-size: 20px; 
}
#post { 
    background: rgb(255, 255, 255);
    padding: 1em;
    font-size: 20px; 
}
#footer{
    background: rgb(12, 172, 137);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0 0 0;
    height: 40px;
}
.imgpost {
    width: 60%;
    height: 400px;
    padding-left: 20%;
}